@font-face {
  font-family: "Avenir-Book";
  src: url("Assets/Fonts/Avenir/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("Assets/Fonts/Avenir/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir-Black";
  src: url("Assets/Fonts/Avenir/AvenirLTStd-Black.otf");
}

body {
  margin: 0;
  font-family: 'Avenir-Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
